*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
    background-image: url("./images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg");
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    /* filter: blur(2px); */
}